<ion-header>
    <ion-toolbar>
  
        <ion-buttons slot="start">
            <ion-back-button defaultHref="games"></ion-back-button>
          </ion-buttons>
  <ion-title >Game </ion-title>

  <ion-icon routerLink="/cart" class="hicon" slot = 'end' ios="ios-cart" md="md-cart"></ion-icon>
  <ion-badge *ngIf="api.order.cart.length>0" color="primary" class="badge">{{api.order.cart.length}}</ion-badge>
  <ion-badge *ngIf="api.gameOrder.cart.length>0" color="primary" class="badge">{{api.gameOrder.cart.length}}</ion-badge>
  <ion-badge *ngIf="api.gameOrder.cart.length==0 && api.order.cart.length==0 " color="primary" class="badge">0</ion-badge>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card style="height: 100%" *ngIf="this.prd" style="margin-bottom: 70px !important ; box-shadow: none;">
        <!-- <ion-card-header> -->
          <img class="img-style" [src]="prd.image" />
            
   
          <ion-card-title class="title">{{prd.name}}</ion-card-title>
        <!-- </ion-card-header> -->
      
        <ion-card-content>
  {{prd.description}}

  <ion-row *ngFor="let item of prd.packages">
    <ion-col size="2">
      <img *ngIf="item.type=='diamond'" src="../../assets/icon/diamond.svg">
      <img *ngIf="item.type=='coin'"  src="../../assets/icon/coins.svg">
    </ion-col>
    <ion-col size ='3'>
      <div *ngIf="item.type=='diamond'" >Diamonds</div>
      <div *ngIf="item.type=='coin'" >Coins</div>
      <div> <b style="color: black">{{item.quantity}}</b></div>
    </ion-col>
 <ion-col size="2"></ion-col>
    <ion-col size="5" text-right>
      <ion-button expand="block" fill="outline" *ngIf="!item.selected" (click)="selectPackage(item)">{{item.amount}}{{c_symbol}}</ion-button>
      <ion-button expand="block" fill="outline" style="background: orange;color:white;border-radius: 10px" *ngIf="item.selected" >{{item.amount}}{{c_symbol}}</ion-button>
    </ion-col>
  </ion-row>
        </ion-card-content>
      
        <ion-card-title style="    font-size: medium;
        padding-left: 10px;"> Fill below Inputs:</ion-card-title>
        <ion-card-content *ngIf="prd.inputs.length>0">
         
          <div class="div-style">
            <ion-input class="inputs" *ngIf="this.usernameinput" name="userName" [(ngModel)]="userName" placeholder = "Enter Username">
  
            </ion-input>  
            <ion-input class="inputs" *ngIf="this.playeridinput" [(ngModel)]="playerId" name="playerId" placeholder = "Enter Player ID">
  
            </ion-input>
            <ion-input class="inputs" *ngIf="this.emailinput" [(ngModel)]="email" name=email placeholder = "Enter Email">
  
              </ion-input>  
              <ion-input class="inputs" *ngIf="this.passwordinput" [(ngModel)]="password" name="password" placeholder = "Enter Password">
  
                </ion-input>  
                <ion-input class="inputs" *ngIf="this.codeinput" [(ngModel)]="code" name="code" placeholder = "Enter Code">
  
                  </ion-input>
                  <ion-input class="inputs" *ngIf="this.phonenumberinput" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder = "Phone Number">
  
                    </ion-input>    
          </div>
        </ion-card-content>
    
      </ion-card>
</ion-content>
<ion-footer class="footer">
    <ion-row style="margin: auto !important;">
      <ion-col size='6' style="margin: auto !important;" >
      <ion-button class="ion-btn"(click)="buyNow()" >Buy Now</ion-button>
    </ion-col>

    <ion-col size = '6' style="margin: auto !important;">
      <ion-button class="ion-btn" (click)="addToCart()">Add to cart</ion-button>
    </ion-col>
    </ion-row>
  
  </ion-footer>
