<ion-footer style="height: 60px !important;" >
  <div>
      <ion-segment >
          <!-- <ion-segment-button class="footer-menu" value="0" (click)="goToPage(0)">
            <ion-icon class="user-footer-ico" name="add"></ion-icon>
          </ion-segment-button> -->
          <ion-segment-button class="footer-menu user-icon-footer" value="1" (click)="order()">
            <ion-icon class="user-footer-ico icon" name="list-box"></ion-icon>
          </ion-segment-button>
          <ion-segment-button class="footer-menu user-icon-footer" value="2" (click)="home()">
              <div class="user-login-gender footer-publish-story">
                  <ion-icon class="user-footer-ico" name="home"></ion-icon>
              </div>
          </ion-segment-button>
          <ion-segment-button class="footer-menu user-icon-footer" value="3" (click)="contact(3)">
            <ion-icon class="user-footer-ico icon" name="mail"></ion-icon>
          </ion-segment-button>
          <!-- <ion-segment-button class="footer-menu" value="4" (click)="goToPage(4)">
            <ion-icon class="user-footer-ico" name="add"></ion-icon>
          </ion-segment-button> -->
      </ion-segment>
  </div>
</ion-footer>