<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="checkout"></ion-back-button>
        </ion-buttons>
    <ion-title>choose-payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row style="margin-top:5px">
    <ion-col size="12" text-center class="title" >
<ion-label style="font-size: 20px;font-weight:900 ;font-family:monospace">Choose Payment Method</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="row" (click)="bkash()">
    <ion-col size="3" padding>
        <img src="../../assets/images/Bkash.png">
    </ion-col>
    <ion-col size="9" padding style="margin: auto;font-size:20px">
        Pay with <b style="color: #D7537C">b</b>Kash
    </ion-col>
  </ion-row>
  <ion-row class="row" (click)="card()">
      <ion-col size="3" padding>
          <img src="../../assets/images/debit-card.svg">
      </ion-col>
      <ion-col size="9" padding style="margin: auto;font-size:20px">
          Pay with <b style="color: rgb(224, 51, 28)">Card</b>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
