.input{
    border: 1px solid orange;
    border-radius: 10px;
}
.signup{
    width: 100% !important;
    --background: #2A5A70 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    color: white !important;
}
.foote{
    background-image: linear-gradient(#E86E19, #FFA602);
}