.inputs{
    border: 1px solid #ffa500;
    border-radius: 10px;
    text-align: center
}
.footerButton{
    padding: 0px;
    margin: 0px;
    height: 63px;
  
    --background: orange;
}
.title{
    font-family: monospace;
}
ion-content.bg{
    // --background: url(../../assets/images/card.jpg) 0 0/100% 100% no-repeat;
   
}
.top{
    font-size: 25px;
    font-family: monospace;
    background: orange;
    border-radius: 15px;
    padding: 20px;
}