<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="games"></ion-back-button>
        </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-icon routerLink="/games" class="hicon" slot = 'end' ios="ios-home" md="md-home"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
    <ion-row *ngIf="this.api.order.cart.length==0 && this.api.gameOrder.cart.length==0">
        <ion-col size="12" style="text-align: center">
        
              <p style="padding: 10px !important">Cart is empty</p>
          
      </ion-col>
    </ion-row>
  <ion-row *ngFor="let item of this.api.order.cart">
    <ion-col size="12">
      <ion-row>
        <ion-col size="3">
          <img [src]="item.product.image">
        </ion-col>
        <ion-col size="7">
          <p style="margin: 0px !important">{{item.product.name}}</p>
          <div style="margin-top: 5px"> <span style="color: grey"> {{item.product.color}}</span></div>
          <div style="margin-top: 8px"> <span style="color: rgb(253, 125, 51);font-size: 20px"> {{item.product.price}}</span></div>
       
        </ion-col>
        <ion-col size="2" style="margin:auto;    background: #f78c1e;
        border-radius: 50px;">
            <ion-icon (click)="delete(item)" style="font-size:50px ;color: white;" name="trash"></ion-icon>

        
        </ion-col>
      </ion-row>
      <ion-row style="border: 1px solid Orange">
        <ion-item lines="none" no-padding style="    font-family: monospace;
      
        padding: 0px 0px 0px 22px;">
{{item.product.price}} x {{item.quantity}} = {{item.product.price * item.quantity}}
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let item of this.api.gameOrder.cart">
    <ion-col size="12">
      <ion-row>
        <ion-col size="3">
          <img [src]="item.image">
        </ion-col>
        <ion-col size="7">
          <p style="margin: 0px !important">{{item.name}}</p>
          <div style="margin-top: 5px"> <span style="color: grey"> {{item.quantity}} {{item.type}}</span></div>
          <div style="margin-top: 8px"> <span style="color: rgb(253, 125, 51);font-size: 20px"> {{item.price}}</span></div>
       
        </ion-col>
        <ion-col size="2" style="margin:auto;    background: #f78c1e;
        border-radius: 50px;">
            <ion-icon (click)="deleteGame(item)" style="font-size:50px ;color: white;" name="trash"></ion-icon>

        
        </ion-col>
      </ion-row>
      <!-- <ion-row style="border: 1px solid Orange">
        <ion-item lines="none" no-padding style="    font-family: monospace;
      
        padding: 0px 0px 0px 22px;">
{{item.product.price}} x {{item.quantity}} = {{item.product.price * item.quantity}}
        </ion-item>
      </ion-row> -->
    </ion-col>
  </ion-row>


</ion-grid>
</ion-content>

<ion-footer class="footer">
    <ion-row style="margin: auto !important;     background: #f78c1e;">
      <ion-col size="6" style="margin: auto !important;" >
<ion-label style="font-size: 30px;color:white;padding: 5px" *ngIf="this.api.order.cart.length>0"> {{totalAmount}}</ion-label>
<ion-label style="font-size: 30px;color:white;padding: 5px" *ngIf="this.api.gameOrder.cart.length>0"> {{totalGame}}</ion-label>

<ion-label style="font-size: 30px;color:white;padding: 5px" *ngIf="this.api.gameOrder.cart.length==0 && this.api.order.cart.length==0 "> 0</ion-label>
    </ion-col>
    <ion-col size="6" style="margin: auto !important;    text-align: right;
    padding: 10px;" >
        <ion-label style="font-size: 25px;color:white"> Checkout<ion-icon style="font-size: 25px;color:white" name="cart"></ion-icon></ion-label>
      </ion-col>
</ion-row>
 
  
  </ion-footer>
