.menu{
    font-size: 20px;
    color: white !important;
    --background: linear-gradient(to  left,#E67D22, rgb(255, 100, 52)) !important;
}
.back{
    --background: linear-gradient(to  left,#E67D22, rgb(255, 100, 52)) !important;
}   