.div-styles{
    background: orange !important;
}
.leb{
    color: white !important;
}
.ref{
    padding: 5px 0 0 5px !important;
}
.borders{
    border: 1px solid rgb(206, 201, 201) !important;
    width: 90%;
    margin: auto;
}
.time{
    font-size: larger !important;
    color: orangered;
   
    padding: 10px;
}
.times{
    font-family: monospace;
    font-size: 20px !important;
    padding: 10px !important;
}
.padding{
    padding: 5px 0 10px 0 !important;
}
.back{
    background: #f3f1f100 !important;
}
.hicon{
    padding: 15px;
    font-size: 25px;
}
