<ion-header>
    <ion-toolbar>
    
      <ion-title>Order Received</ion-title>
      <ion-icon routerLink="/games" class="hicon" slot = 'end' ios="ios-home" md="md-home"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content *ngIf="currentOrder">
  <div padding class="div-styles">
    <ion-row>
    <ion-label class="leb" style="padding: 0 0 10px 5px !important;">
      <b>Waiting for payment</b>
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="leb" style="padding: 0 0 0 5px !important;">Your order number is</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="leb" style="padding: 0 0 0 5px !important;">
     {{currentOrder.id}}
    </ion-label>
  </ion-row>
  </div>
  <ion-row></ion-row>
  
  
  <div padding>
    <ion-row>
     <ion-label class="ref"> Reference number expires in</ion-label>
    </ion-row>
  
    <ion-row>
        <ion-label class="ref">Complete payment before <b class="time"><countdown [config]="{leftTime: time}"></countdown></b></ion-label>
       </ion-row>
  </div>
  
  <div padding class="borders">
    <ion-row>
      <ion-label>reference number</ion-label>
    </ion-row>
    <ion-row style="border-bottom: 1px solid rgb(206, 201, 201) !important;">
        <ion-label style="padding: 2px 0 8px 0 !important;"><b>{{currentOrder.id}}</b></ion-label>
      </ion-row>
      <ion-row>
       <ion-button (click)="copyText(currentOrder.id)">Copy reference number</ion-button>
      </ion-row>
  
  <ion-row class="padding">
    <ion-col size = "4">
    <ion-label style="font-size: small;" >Amount</ion-label>
  </ion-col>
  <ion-col size = '5'></ion-col>
  <ion-col size = '3'>
    <ion-label style="color: red !important;"><b>{{currentOrder.totalAmount}} {{currentOrder.currency}}</b>  </ion-label>
  </ion-col>
  </ion-row>
  
  
  </div>
  
  <ion-row padding>
    <ion-label class="time"><b>Payment Instructions </b></ion-label>
  </ion-row>
  
  <div padding class="back" style="    padding: inherit;">
    <ion-row>
  <ion-label class="times">
    1. Send Money
  </ion-label>
  </ion-row>
  <ion-row>
   <ion-img src="../../assets/payment/sendMoney.jpg"></ion-img>
    </ion-row>
  
    <ion-row>
      <ion-label class="times">
        2. Enter GyRo personal Number: 01778047940
      </ion-label>
      </ion-row>
      <ion-row>
       <ion-img src="../../assets/payment/sendMoney2.jpg"></ion-img>
        </ion-row>


        <ion-row>
          <ion-label class="times">
            3. Enter total order amount
          </ion-label>
          </ion-row>
          <ion-row>
           <ion-img src="../../assets/payment/totalAmount.jpg"></ion-img>
            </ion-row>


            <ion-row>
              <ion-label class="times">
                4. Enter Reference Number (as displayed above)
                and enter your PIN.
              </ion-label>
              </ion-row>
              <ion-row>
               <ion-img src="../../assets/payment/gyro.jpg"></ion-img>
                </ion-row>
 

                <ion-row>
                  <ion-label class="times">
                    5. It might take up to 15 minutes for payment verification
                  </ion-label>
                  </ion-row>

                  <ion-row>
                   <ion-img src="../../assets/payment/gyro.jpg"></ion-img>
                    </ion-row>
                 
                      <ion-row padding>
                          <ion-label class="time"><b> [For USSD Payment follow below steps]  </b></ion-label>
                        </ion-row>
                      <!-- <ion-row>
                       <ion-img src="../../assets/payment/gyro.jpg"></ion-img>
                        </ion-row> -->

                        <ion-row>
                            <ion-label class="times">
                                1. Dial *247# to view bKash Menu
                            </ion-label>
                            </ion-row>
          
                            <ion-row>
                             <ion-img src="../../assets/payment/uusd1.jpg"></ion-img>
                              </ion-row>

                              <ion-row>
                                  <ion-label class="times">
                                      2. Press 1 for sent money
                                  </ion-label>
                                  </ion-row>
                
                                  <ion-row>
                                   <ion-img src="../../assets/payment/press.jpg"></ion-img>
                                    </ion-row>

                                    <ion-row>
                                        <ion-label class="times">
                                            3. Enter GyRo personal Number: 01778047940
                                        </ion-label>
                                        </ion-row>
                      
                                        <ion-row>
                                         <ion-img src="../../assets/payment/gyrop.jpg"></ion-img>
                                          </ion-row>


                                          <ion-row>
                                              <ion-label class="times">
                                                  4. Enter total order amount
                                              </ion-label>
                                              </ion-row>
                            
                                              <ion-row>
                                               <ion-img src="../../assets/payment/total.jpg"></ion-img>
                                                </ion-row>


                                                <ion-row>
                                                    <ion-label class="times">
                                                        5. Enter Reference Number (as displayed above)
                                                    </ion-label>
                                                    </ion-row>
                                  
                                                    <ion-row>
                                                     <ion-img src="../../assets/payment/ref.jpg"></ion-img>
                                                      </ion-row>

  </div>
  
  </ion-content>
  