.segement{
    height: 40px !important;
}

.badge{
    position: absolute;
    top: 7px;
    right: 4px;
    border-radius: 50px;
    background: orange;
}
.hicon{
    padding: 15px;
    font-size: 25px;
    margin-right: 5px;
}
.footer{
    position: fixed !important;
    bottom: 0px !important;
}
.lab{
    text-align: center;
    padding: 5px 0 0 0;
}
.ion-btn{
    width: 170px !important;
}
.price{
    color: red;
    font-size: 20px;
    font-family: monospace;
    padding: 10px 0 0 12px;
}
.backimage2{
margin: auto !important;
    width: 70px !important;
    height: 70px !important;
}
ion-toolbar{
    --background: linear-gradient(to  bottom,#30C7DC, #051F90) !important;
      color: white !important;
    }
    ion-content{
      --background: linear-gradient(to  bottom,#30C7DC, #051F90) !important;
    }
    ion-searchbar{
        background: white ;
        border-radius: 0px !important;
    }
