<ion-header>
    
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon (click)="logout()" name="log-out" style="font-size: 30px;transform: rotate(180deg)"></ion-icon>
        </ion-buttons>
<ion-title> <ion-icon name="home"></ion-icon>Home</ion-title>
<ion-icon (click)="cart()" class="hicon" slot = 'end' ios="ios-cart" md="md-cart"></ion-icon>
<ion-badge *ngIf="api.order.cart.length>0" color="primary" class="badge">{{api.order.cart.length}}</ion-badge>
<ion-badge *ngIf="api.gameOrder.cart.length>0" color="primary" class="badge">{{api.gameOrder.cart.length}}</ion-badge>
<ion-badge *ngIf="api.gameOrder.cart.length==0 && api.order.cart.length==0 " color="primary" class="badge">0</ion-badge>

     
  </ion-toolbar>
  <!-- <ion-segment class="segement" [(ngModel)]="request" value="javascript">
      <ion-segment-button value="games" class="segment-activated">
        <ion-label>Games</ion-label>
      </ion-segment-button>
      <ion-segment-button value="products">
        <ion-label>Products</ion-label>
      </ion-segment-button>
    </ion-segment> -->
</ion-header>

<ion-content>
<ion-item lines="none" style="padding: 5px;
border-radius: 100px !important;" >
  <ion-input  [(ngModel)]="filterText" name="filterText" (ionChange)="filter($event)" ><ion-icon name="search"></ion-icon></ion-input>
</ion-item>
  <!-- <ion-searchbar  [(ngModel)]="filterText" name="filterText" (ionChange)="filter($event)" style="padding: 12px;"></ion-searchbar> -->

<!-- 
      <div [ngSwitch]="request" style="padding:0px !important">

          <div *ngSwitchCase="'games'" style="padding:0px !important"> -->
<ion-row *ngIf="notFound">
  <ion-col text-center>
    <ion-label> No result found</ion-label>
  </ion-col>
</ion-row>
<ion-grid>
  <ion-row>
    <ion-col size = 3 *ngFor="let item of games" (click)="openGame(item.id)">
      <ion-avatar class="backimage2">
      <ion-img  [src]="item.image"></ion-img>
    </ion-avatar>
      <div class="lab" style="color: white">{{item.name}}</div>
    </ion-col>
    <ion-col size = 3 routerLink="/playcards" *ngIf="this.filterText=='' || this.filterText==null">
        <ion-avatar class="backimage2">
        <ion-img  src="../assets/folder/play.png"></ion-img>
      </ion-avatar>
        <div class="lab" style="color: white">PlayCards</div>
      </ion-col>


  </ion-row>


</ion-grid>



            <!-- </div> -->

            <!-- <div *ngSwitchCase="'products'"> -->
            <ion-row no-padding>
              <ion-col size = '6' *ngFor="let item of products">
                <ion-card (click) = "product(item.id)" style="margin:2px;background: white;">
                 <ion-row>
                   <ion-col>
                      <img [src]="item.image" style="height: 100px;background-size: cover" />
                   </ion-col>
                 </ion-row>
                     
       
                  
                    <ion-card-header style="padding: 5px">
                        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                        <ion-card-title style="font-size: 17px;   margin-top: 5px; font-weight: bolder">{{item.name}}</ion-card-title>
                      </ion-card-header>
                    <ion-card-content style="padding: 10px;height: 85px;">
                      <ion-item lines="none" no-padding style="height: 75px !important"> {{item.description}}</ion-item>
                        
               
            
                      
                    </ion-card-content>
                    <ion-card-subtitle>
                        <ion-label class="price">{{item.price}} <b style="color:orange;font-size:15px " >{{c_symbol}}</b></ion-label> </ion-card-subtitle>
                   
                  </ion-card>
                </ion-col>
                <ion-col size = '6' *ngFor="let item of playcards">
                    <ion-card (click) = "playCards(item.id)" style="margin:2px;background: white;">
                      
                        <img [src]="item.image" style="height: 100px" />
                        <ion-card-header style="padding: 5px">
                            <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                            <ion-card-title style="font-size: 17px;    margin-top: 5px; font-weight: bolder">{{item.name}}</ion-card-title>
                          </ion-card-header>
                        <ion-card-content style="padding: 10px;height: 114px;">
                            <ion-item lines="none" no-padding style="height: 75px !important"> {{item.description}}</ion-item>
                   
                
                          
                        </ion-card-content>
                        <ion-card-subtitle>
                            <!-- <ion-label class="price">{{item.price}}</ion-label> -->
                           </ion-card-subtitle>
                       
                      </ion-card>
                    </ion-col>
              
                </ion-row>

                
            <!-- </div> -->
            <!-- </div> -->

           

</ion-content>
<ion-footer class="foote">
  <app-footer ></app-footer>
</ion-footer>
