.segement{
    height: 40px !important;
}
.footer{
    position: fixed !important;
    bottom: 0px !important;
}
.icon{
    position: absolute !important;
    right: 8px !important;
    width: 20px !important;
    height: 20px !important;
}
.ion-btn{
    width: 170px !important;
}