<ion-header>
    
  <ion-toolbar>
<ion-title>Categories</ion-title>
<ion-icon (click)="cart()" class="icon" slot = 'end' ios="ios-cart" md="md-cart"></ion-icon>

     
  </ion-toolbar>

</ion-header>

<ion-content>

    
  <ion-grid>
    <ion-row style="margin-left: auto !important; margin-right: auto !important;">
      <ion-col size = 3>
        <ion-avatar>
        <ion-img class="backimage2" src="../assets/folder/1.png"></ion-img>
      </ion-avatar>
        <ion-label>Narnia</ion-label>
      </ion-col>
  
      <ion-col size = 3>
          <ion-avatar>
        <ion-img class="backimage2" src="../assets/folder/2.jpg"></ion-img>
        </ion-avatar>
        <ion-label>Narnia</ion-label>
      </ion-col>
  
      <ion-col size = 3>
          <ion-avatar>
        <ion-img class="backimage2" src="../assets/folder/3.jpg"></ion-img>
        </ion-avatar>
        <ion-label>Narnia</ion-label>
      </ion-col>
  
      <ion-col size = 3>
          <ion-avatar>
        <ion-img class="backimage2" src="../assets/folder/4.jpg"></ion-img>
        </ion-avatar> 
        <ion-label>Narnia</ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row style="margin-left: auto !important; margin-right: auto !important;">
        <ion-col size = 3>
          <ion-avatar>
          <ion-img class="backimage2" src="../assets/folder/1.png"></ion-img>
        </ion-avatar>
          <ion-label>Narnia</ion-label>
        </ion-col>
    
        <ion-col size = 3>
            <ion-avatar>
          <ion-img class="backimage2" src="../assets/folder/2.jpg"></ion-img>
          </ion-avatar>
          <ion-label>Narnia</ion-label>
        </ion-col>
    
        <ion-col size = 3>
            <ion-avatar>
          <ion-img class="backimage2" src="../assets/folder/3.jpg"></ion-img>
          </ion-avatar>
          <ion-label>Narnia</ion-label>
        </ion-col>
    
        <ion-col size = 3>
            <ion-avatar>
          <ion-img class="backimage2" src="../assets/folder/4.jpg"></ion-img>
          </ion-avatar> 
          <ion-label>Narnia</ion-label>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-row no-padding>
    <ion-col size = '6'>
      <ion-card (click) = "product()">
          <img src="./madison.jpg" />
          <ion-card-header>
            <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an e Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size = '6'>
          <ion-card>
              <img src="./madison.jpg" />
              <ion-card-header>
                <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                <ion-card-title>Madison, WI</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Founded inl of the Wisconsin Territory in 1836.
              </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
   

            <ion-footer class="footer">
                <ion-row style="margin: auto !important;">
                  <ion-col size='6' style="margin: auto !important;" >
                  <ion-button class="ion-btn">Buy Now</ion-button>
                </ion-col>

                <ion-col size = '6' style="margin: auto !important;">
                  <ion-button class="ion-btn">Add to cart</ion-button>
                </ion-col>
                </ion-row>
              
              </ion-footer>

</ion-content>
