<ion-header>
    
  <ion-toolbar>
<ion-title>Categories</ion-title>
<ion-icon (click)="cart()" class="icon" slot = 'end' ios="ios-cart" md="md-cart"></ion-icon>

     
  </ion-toolbar>
  <!-- <ion-segment class="segement" [(ngModel)]="request" value="javascript">
      <ion-segment-button value="games" class="segment-activated">
        <ion-label>Games</ion-label>
      </ion-segment-button>
      <ion-segment-button value="products">
        <ion-label>Products</ion-label>
      </ion-segment-button>
    </ion-segment> -->
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>

<!-- 
      <div [ngSwitch]="request" style="padding:0px !important">

          <div *ngSwitchCase="'games'" style="padding:0px !important"> -->

<ion-grid>
  <ion-row>
    <ion-col size = 3>
      <ion-avatar class="backimage2">
      <ion-img  src="../assets/folder/1.png"></ion-img>
    </ion-avatar>
      <div class="lab">San andreas</div>
    </ion-col>

    <ion-col size = 3>
        <ion-avatar class="backimage2">
      <ion-img  src="../assets/folder/2.jpg"></ion-img>
      </ion-avatar>
      <div class="lab">Narnia & Pubg</div>
    </ion-col>

    <ion-col size = 3>
        <ion-avatar class="backimage2">
      <ion-img src="../assets/folder/3.jpg"></ion-img>
      </ion-avatar>
      <div class="lab">Delta force</div>
    </ion-col>

    <ion-col size = 3>
        <ion-avatar class="backimage2">
      <ion-img src="../assets/folder/4.jpg"></ion-img>
      </ion-avatar> 
      <div class="lab">Age of Empires</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size = 3>
      <ion-avatar class="backimage2">
      <ion-img  src="../assets/folder/1.png"></ion-img>
    </ion-avatar>
      <div class="lab">Narnia</div>
    </ion-col>

    <ion-col size = 3>
        <ion-avatar class="backimage2">
      <ion-img  src="../assets/folder/2.jpg"></ion-img>
      </ion-avatar>
      <div class="lab">Narnia & Pubg</div>
    </ion-col>

    <ion-col size = 3>
        <ion-avatar class="backimage2">
      <ion-img src="../assets/folder/3.jpg"></ion-img>
      </ion-avatar>
      <div class="lab">Narnia</div>
    </ion-col>

    <ion-col size = 3>
        <ion-avatar class="backimage2">
      <ion-img src="../assets/folder/4.jpg"></ion-img>
      </ion-avatar> 
      <div class="lab">Narnia</div>
    </ion-col>
  </ion-row>
</ion-grid>



            <!-- </div> -->

            <!-- <div *ngSwitchCase="'products'"> -->
            <ion-row no-padding>
              <ion-col size = '6'>
                <ion-card (click) = "product()" style="margin:2px">
                    <img src="../../assets/folder/a.jpg" />
                    <ion-card-header style="padding: 5px">
                        <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                        <ion-card-title style="font-size: 17px;">Madison, WI</ion-card-title>
                      </ion-card-header>
                    <ion-card-content style="padding: 10px;height: 100px;">
                                     <p>    Founded in 1829 on an e Wisconsin Territory in 1836.</p>  
               
            
                      
                    </ion-card-content>
                    <ion-card-subtitle>
                        <ion-label class="price">990$</ion-label> </ion-card-subtitle>
                   
                  </ion-card>
                </ion-col>
                <ion-col size = '6'>
                    <ion-card (click) = "product()" style="margin:2px">
                        <img src="../../assets/folder/a.jpg" />
                        <ion-card-header style="padding: 5px">
                            <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                            <ion-card-title style="font-size: 17px;">Madison, WI</ion-card-title>
                          </ion-card-header>
                        <ion-card-content style="padding: 10px;height: 100px;">
                                         <p>    Founded in 1829 on an e Wisconsin Territory in 1836.</p>  
                   
                
                          
                        </ion-card-content>
                        <ion-card-subtitle>
                            <ion-label class="price">990$</ion-label> </ion-card-subtitle>
                       
                      </ion-card>
                    </ion-col>
              
                </ion-row>

                
            <!-- </div> -->
            <!-- </div> -->

           

</ion-content>
