ion-toolbar{
    --background: #274452 !important;
    color: white !important;
  }
  ion-content{
    --background: #274452 !important;
  }
  h6{
      font-size: 12px !important;
      color: white !important;
     
  }
  .signup{
      width: 100% !important;
        --background: #2A5A70 !important;
      margin-left: auto !important;
      margin-right: auto !important;
      // padding: 0 0 20px 0 !important;
  }
  .already{
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: -webkit-center !important ;
  }