ion-toolbar{
  --background: linear-gradient(to  bottom,#E86E19, #FFA602) !important;
    color: white !important;
  }
  ion-content{
    --background: linear-gradient(to  bottom,#E86E19, #FFA602) !important;
  }
  h6{
      font-size: 12px !important;
      color: white !important;
     
  }
  .signup{
      width: 100% !important;
        --background: #2A5A70 !important;
      margin-left: auto !important;
      margin-right: auto !important;
      // padding: 0 0 20px 0 !important;
  }
  .already{
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: -webkit-center !important ;
  }
  .title{
    font-size: 35px;
    padding: 30px;
    color: white;
  }