<ion-header>
  <ion-toolbar>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-card>
        <!-- <ion-card-header> -->
            <img class="img-style" src="../../assets/folder/a.jpg" />
          <ion-card-subtitle class="price">$109</ion-card-subtitle>
          <ion-card-title class="title">Pubg mobile 40UC for android and ios</ion-card-title>
        <!-- </ion-card-header> -->
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        
        <ion-card-content>
          <div class="div-style">
            <ion-input placeholder = "Username">
  
            </ion-input>  
            <ion-input placeholder = "Player ID">
  
            </ion-input>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-footer class="footer">
        <ion-row style="margin: auto !important;">
          <ion-col size='6' style="margin: auto !important;" >
          <ion-button class="ion-btn">Buy Now</ion-button>
        </ion-col>

        <ion-col size = '6' style="margin: auto !important;">
          <ion-button class="ion-btn">Add to cart</ion-button>
        </ion-col>
        </ion-row>
      
      </ion-footer>
</ion-content>
