ion-card{
    width: 100% !important;
    margin: auto !important;
}
.img-style{
    width: 95% !important;
    margin: auto !important;

}
.price{
    color: red;
    font-size: 25px;
    font-family: monospace;
    padding: 10px 0 0 12px;
}
.color{
    color: rgb(236, 115, 44);
    font-size: 20px;
    font-family: monospace;
    padding: 10px ;
}
.title{
    padding: 0 0 0 13px;
    font-size: 20px;
    font-weight: 20px;
}
.div-style{
    border: 1px solid;
}

ion-input{
    padding: 0 0 0 10px !important;
    color: black !important;
}
.footer{
    position: fixed !important;
    bottom: 0px !important;
}
.ion-btn{
    width: 170px !important;
}